<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/admin">HMS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/create-medicine">Add Medicine</a>
          <a class="nav-link" routerLink="/docdash">Back</a>
        </div>
      </div>
    </div>
  </nav>
<div class="container">
    <h2 class="text-center">Update Patient</h2>

    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" id="name" placeholder="Enter your name" class="form-control" [(ngModel)]="patient.name" />
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="text" name="age" id="age" placeholder="Enter your age" class="form-control" [(ngModel)]="patient.age" />
        </div>
        <div class="form-group">
            <label>Blood Group</label>
            <input type="text" name="blood" id="blood" placeholder="Enter your name" class="form-control" [(ngModel)]="patient.blood" />
        </div>
        <div class="form-group">
            <label>Prescription</label>
            <input type="text" name="prescription" id="prescription" placeholder="Enter Prescription" class="form-control" [(ngModel)]="patient.prescription" />
        </div>
        <div class="form-group">
            <label>Dose</label>
            <input type="text" name="dose" id="dose" placeholder="Enter Dose" class="form-control" [(ngModel)]="patient.dose" />
        </div>
        <div class="form-group">
            <label>Fees</label>
            <input type="text" name="fees" id="fees" placeholder="Enter fees" class="form-control" [(ngModel)]="patient.fees" />
        </div>
        <div class="form-group">
            <label>Urgency</label>
            <input type="text" name="urgency" id="urgency" placeholder="Enter Urgency" class="form-control" [(ngModel)]="patient.urgency" />
        </div>

        <button type="submit" class="btn btn-success">Submit</button>

</form>
</div>
