<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/admin">HMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link" routerLink="/create-medicine">Add Medicine</a>
        <a class="nav-link" routerLink="/docdash">Back</a>
        <button class="btn btn-danger" (click)="logout()">logout</button>
      </div>
    </div>
  </div>
</nav>
<h2>List of patients</h2>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>ID</th>
            <th>name</th>
            <th>age</th>
            <th>blood</th>
            <th>prescription</th>
            <th>dose</th>
            <th>urgency</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.blood}}</td>
            <td>{{patient.prescription}}</td>
            <td>{{patient.dose}}</td>
            <td>{{patient.urgency}}</td>
            <td><button (click)="delete(patient.id)" class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>
